<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926201420240-tag6l439mtqmks1vdvqh9mbbcgsh3036.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926201420240-tag6l439mtqmks1vdvqh9mbbcgsh3036</string>
	<key>API_KEY</key>
	<string>AIzaSyCFI9OY6KfTob3s1uZbJ_xVp1Q3SW6rq1E</string>
	<key>GCM_SENDER_ID</key>
	<string>926201420240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrptoWalletOoo</string>
	<key>PROJECT_ID</key>
	<string>crpto-wallet-ooo</string>
	<key>STORAGE_BUCKET</key>
	<string>crpto-wallet-ooo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926201420240:ios:cefa1fe047fa0e3034c1d5</string>
</dict>
</plist>